.Home {
  background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,81,93,1) 100%);
  display: flex;
  height: 85vh;
  padding-top: 80px;
  position: relative;
}

.Home .Container {
  position: absolute;
  top: 15%;
  left: 2%;
  color: white
}

.Home .Container h1 {
  margin: 0;
}

.Home .World {
  width: 60%;
  max-width: 500px;
  position: absolute;
  right: 10%;
  top: 20%;
  -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  
}

.Home .Container .Hello {
  font-size: calc(1.76rem + 3vw);
}

.Home .code {
  width: 20%;
  max-width: 150px;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

@media (max-width: 792px) {
  .Home .World {
    width: 60%;
    max-width: 500px;
    position: absolute;
    right: 20%;
    top: 35%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
      filter: invert(100%);
    
  }
}

@media (max-width: 1125px) {
  .Home .World {
    width: 60%;
    max-width: 500px;
    position: absolute;
    right: 10%;
    top: 30%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
      filter: invert(100%);
    
  }
}