.Home {
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,81,93,1) 100%);
  
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  
}

/* .Home .Container {
  display: flex;
  flex-direction: column;
} */


.Home .Container h1 {
  
  text-align: center;
  
}
.Home .Container h2 {
  text-align: center;
}

.Home .Headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  Width: 80vh;
  border-radius: 50%;
}

.Home .Container .Hello {
  font-size: calc(1.76rem + 3vw);
} 

@media (max-width:1000px){
  .Home {
    padding-top: 8%;
  }
  .Home .Headshot {
    Width: 40vh;
  }
}


@media (max-width:740px){
  .Home {
    padding-top: 10%;
  }
  .Home .Headshot {
    Width: 40vh;
  }
}

@media (max-width:520px){
  .Home {
    padding-top: 15%;
  }
  .Home .Headshot {
    Width: 40vh;
  }
}

@media (max-width:400px){
  .Home {
    padding-top: 20%;
  }
  .Home .Headshot {
    Width: 30vh;
  }
}
@media (max-width:325px){
  .Home {
    padding-top: 25%;
  }
  .Home .Headshot {
    Width: 30vh;
  }
}