body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 800;
  font-size: 3.2rem;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

p {
  font-weight: 500px;
  font-size: 1.5rem;
  color: white;
}

a {
  font-weight: 900px;
  font-size: 1.5rem;
  color: white;
}

li {
  font-size: 1.3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
